<section class="shoplist-of-one">
    <div class="business-information">
        <div class="logo-container">
            <img src="https://fuss10.elemecdn.com/0/68/97f3f1b04ac28a78aec2552088600png.png?imageMogr/format/webp/thumbnail/!130x130r/gravity/Center/crop/130x130/" alt="">
        </div>
        <div class="info-container">
            <span class="app-brand">品牌</span>
        </div>
    </div>
    <div class="app-welfare-container">

    </div>
</section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>
<section class="shoplist-of-one"></section>